// utility : font face declaration - ========================================================================= - //

// functions //
@function is-truetype($type) {
  @if ($type == 'truetype') { @return 'ttf'; }
  @else { @return $type; }
}

@function is-variable($variable, $weight) {
  @if ($variable) { @return 'variable'; }
  @else { @return $weight; }
}

// mixins //
@mixin declare($family, $style, $weight, $url, $type, $variable: false) {
  @font-face {
    font-display: swap;
    font-family: $family;
    font-style: $style;
    font-weight: $weight;
    src: url('#{$url}/#{is-variable($variable, $weight)}.#{is-truetype($type)}') format($type);
  }
}